<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @roomtype.type %>
</p>

<p>
  <strong>Rooms:</strong>
  <%= @roomtype.rooms %>
</p>

<p>
  <strong>Beds:</strong>
  <%= @roomtype.beds %>
</p>

<p>
  <strong>Adults:</strong>
  <%= @roomtype.adults %>
</p>

<p>
  <strong>Children:</strong>
  <%= @roomtype.children %>
</p>

<p>
  <strong>Wifi:</strong>
  <%= @roomtype.wifi %>
</p>

<p>
  <strong>Geyser:</strong>
  <%= @roomtype.geyser %>
</p>

<p>
  <strong>Ac:</strong>
  <%= @roomtype.ac %>
</p>

<p>
  <strong>Cooler:</strong>
  <%= @roomtype.cooler %>
</p>

<p>
  <strong>Fan:</strong>
  <%= @roomtype.fan %>
</p>

<p>
  <strong>Smoking:</strong>
  <%= @roomtype.smoking %>
</p>

<p>
  <strong>Balcony:</strong>
  <%= @roomtype.balcony %>
</p>

<p>
  <strong>Bathroom:</strong>
  <%= @roomtype.bathroom %>
</p>

<p>
  <strong>Kettle:</strong>
  <%= @roomtype.kettle %>
</p>

<p>
  <strong>Laundry:</strong>
  <%= @roomtype.laundry %>
</p>

<p>
  <strong>Tv:</strong>
  <%= @roomtype.tv %>
</p>

<p>
  <strong>Familyrooms:</strong>
  <%= @roomtype.familyrooms %>
</p>

<p>
  <strong>Pwd:</strong>
  <%= @roomtype.pwd %>
</p>

<p>
  <strong>Hotel:</strong>
  <%= @roomtype.hotel %>
</p>

<%= link_to 'Edit', edit_roomtype_path(@roomtype) %> |
<%= link_to 'Back', roomtypes_path %>
