    	<%if current_user && !current_user.hotel%>
	
	Your have not filled your details yet!!
	<BR><BR>
	Kindly fill the <%=link_to "Profile Details",new_hotel_path(id: current_user.id),method: :get%>	

<%else%>


<p id="notice"><%= notice %></p>

<%if current_user.hotel.roomtypes.count>0%>

<h1 align="center" style="text-decoration: underline;">Hotel Info</h1>

<div class="container" style="background-color: white;">
	<div class="form form-horizontal">	 
	<%@hotel = current_user.hotel%><%= link_to 'Edit', edit_hotel_path(@hotel),:class => "btn btn-warning pull-right"%>
	<h2 class="col-sm-offset-2">Basic Info</h2>

	<div class="form-group">
		<label class="control-label col-sm-2" for="HotelName">Hotel Name:</label>
		<div class="col-sm-4">
		 	<div class="form-control" disabled><%= @hotel.hotelname %></div>	
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-sm-2" for="HotelType">Hoteltype:</label>
		<div class="col-sm-4">
		 	<div class="form-control" disabled><%= @hotel.hoteltype %></div>	
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-sm-2" for="Chainname">Chainname:</label>
		<div class="col-sm-4">
		 	<div class="form-control" disabled><%= @hotel.chainname %></div>	
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-sm-2" for="Floor">Floor:</label>
		<div class="col-sm-4">
		 	<div class="form-control" disabled><%= @hotel.floor %></div>	
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-sm-2" for="Currency">Currency:</label>
		<div class="col-sm-4">
		 	<div class="form-control" disabled><%= @hotel.currency %></div>	
		</div>
	</div>



	<div class="form-group">
		<label class="control-label col-sm-2" for="Rating">Rating:</label>
		<div class="col-sm-4">
          <input type="range" class="form-control" id="StarRatingSlider" min="0" max="7" step="0.1" name="StarRating" value=<%= @hotel.rating %> disabled="">
        </div>
		 	<label class="col-sm-1" style="padding-top: 5px;" disabled><%= @hotel.rating %></label>	
	</div>

	<div class="form-group">
		<label class="control-label col-sm-2" for="Year">Year:</label>
		<div class="col-sm-4">
		 	<div class="form-control" disabled><%= @hotel.year %></div>	
		</div>
	</div>
		

	<div class="row">
		<div class="col-sm-2">
			<label class="control-label PosChkInOut" for="CheckInTime" >Check In Time:</label>
		</div>
		<div class="col-sm-4">
			<div class="row" >
				<label class="control-label col-sm-offset-5" for="CheckInTimeFrom">From</label>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<div class="form-control" disabled><%= @hotel.checkinhrsfrom %>:</div>
				</div>
				<div class="col-sm-4">
					<div class="form-control" disabled><%= @hotel.checkinminfrom %><span>0</span></div>
				</div>
				<div class="col-sm-4">
					<div class="form-control" disabled><%= @hotel.checkinampmfrom %></div>
				</div>
				
			</div>
		</div>
		<div class="col-sm-4">
			<div class="row" >
				<label class="control-label col-sm-offset-5" for="CheckInTimeFrom">To</label>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<div class="form-control" disabled><%= @hotel.checkinhrsto %>:</div>
				</div>
				<div class="col-sm-4">
					<div class="form-control" disabled><%= @hotel.checkinminto %><span>0</span></div>
				</div>
				<div class="col-sm-4">
					<div class="form-control" disabled><%= @hotel.checkinampmto %></div>
				</div>
				
			</div>
		</div>
	</div>


	<div class="row">
			<div class="col-sm-2" >
				<label class="control-label PosChkInOut" for="CheckOutTime">Check Out Time:</label>
			</div>
			<div class="col-sm-4" >
				<div class="row">
					<label class="control-label col-sm-offset-5" for="CheckOutTimeFrom">From</label>
				</div>
				<div class="row">
					<div class="col-sm-4">
						<div class="form-control" disabled><%= @hotel.checkouthrsfrom %>:</div>
					</div>
					<div class="col-sm-4">
						<%if @hotel.checkoutminfrom<10%>
							<%c = '0' + @hotel.checkoutminfrom.to_s%>
						<%else%>
							<%c = @hotel.checkoutminfrom.to_s%>
						 <%end%>
						<div class="form-control" disabled><%=c%></div>
					</div>
					<div class="col-sm-4">
						<div class="form-control" disabled><%= @hotel.checkoutampmfrom %></div>
					</div>
					
				</div>
			</div>
			<div class="col-sm-4">
				<div class="row">
					<label class="control-label col-sm-offset-5" for="CheckOutTimeFrom">To</label>
				</div>
				<div class="row">
					<div class="col-sm-4">
						<%if @hotel.checkouthrsto<10%>
							<%c = '0' + @hotel.checkouthrsto.to_s%>
						<%else%>
							<%c = @hotel.checkouthrsto.to_s%>
						 <%end%>
						<div class="form-control" disabled><%=c%>:</div>
					</div>
					<div class="col-sm-4">
						<%if @hotel.checkoutminto<10%>
							<%c = '0' + @hotel.checkoutminto.to_s%>
						<%else%>
							<%c = @hotel.checkoutminto.to_s%>
						 <%end%>
						<div class="form-control" disabled><%=c%></div>
					</div>
					<div class="col-sm-4">
						<div class="form-control" disabled><%= @hotel.checkoutampmto %></div>
					</div>
					
				</div>
			</div>
	</div>
	</div>

	<div class="col-sm-offset-2"><h2>Address</h2></div>
	<div class="form form-horizontal">

	<div class="form-group">
		<label class="control-label col-sm-2" for="Buildingname">Buildingname:</label>
		<div class="col-sm-4">
		 	<div class="form-control" disabled><%= @hotel.buildingname %></div>	
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-sm-2" for="Streetname">Streetname:</label>
		<div class="col-sm-4">
		 	<div class="form-control" disabled><%= @hotel.streetname %></div>	
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-sm-2" for="City">City:</label>
		<div class="col-sm-4">
		 	<div class="form-control" disabled><%= @hotel.city %></div>	
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-sm-2" for="State">State:</label>
		<div class="col-sm-4">
		 	<div class="form-control" disabled><%= @hotel.state %></div>	
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-sm-2" for="Country">Country:</label>
		<div class="col-sm-4">
		 	<div class="form-control" disabled><%= @hotel.country %></div>	
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-sm-2" for="Zipcode">Zipcode:</label>
		<div class="col-sm-4">
		 	<div class="form-control" disabled><%= @hotel.zipcode %></div>	
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-sm-2" for="Country">Country:</label>
		<div class="col-sm-4">
		 	<div class="form-control" disabled><%= @hotel.country %></div>	
		</div>
	</div>

	




	<%arraybasic={}%>

	<%arraybasic['parking']='Parking'%>
	<%arraybasic['gym']='Gym'%>
	<%arraybasic['spa']='Spa'%>
	<%arraybasic['swimmingpool']='Swimming Pool'%>
	<%arraybasic['bar']='Bar'%>
	<%arraybasic['restaurant']='Restaurant'%>
	<%arraybasic['lift']='Lift'%>

	<%arraymedia={}%>

	<%arraymedia['computer']='Computer'%>
	<%arraymedia['flatscreentv']='Flat Screen TV'%>
	<%arraymedia['gameconsole']='Game Console'%>
	<%arraymedia['nintendowii']='Nintendo Wii'%>
	<%arraymedia['ps2']='PS2'%>
	<%arraymedia['ps3']='PS3'%>
	<%arraymedia['ps4']='PS4'%>
	<%arraymedia['xbox360']='XBox 360'%>
	<%arraymedia['laptop']='Laptop'%>
	<%arraymedia['laptopsafe']='Laptop Safe'%>
	<%arraymedia['ipad']='IPad'%>
	<%arraymedia['cablechannels']='Cable Channels'%>
	<%arraymedia['cdplayer']='CD Player'%>
	<%arraymedia['dvdplayer']='DVD Player'%>
	<%arraymedia['fax']='Fax'%>
	<%arraymedia['paypervideochannels']='Pay per video channels'%>
	<%arraymedia['radio']='Radio'%>
	<%arraymedia['satellitechannels']='Satellite Channels'%>
	<%arraymedia['telephone']='Telephone'%>
	<%arraymedia['tv']='TV'%>
	<%arraymedia['video']='Video'%>
	<%arraymedia['videogames']='Video Games'%>
	<%arraymedia['blurayplayer']='BluRay Player'%>

	<%arrayfood={}%>

	<%arrayfood['diningarea']='Dining Area'%>
	<%arrayfood['diningtable']='Dining Table'%>
	<%arrayfood['barbecue']='Barbecue'%>
	<%arrayfood['stovetop']='Stove top'%>
	<%arrayfood['toaster']='Toaster'%>
	<%arrayfood['outdoordiningarea']='Outdoor Dining Area'%>
	<%arrayfood['outdoorfurniture']='Outdoor Furniture'%>
	<%arrayfood['kitchenette']='Kitchenette'%>
	<%arrayfood['kitchenware']='Kitchenware'%>
	<%arrayfood['microwave']='Microwave'%>
	<%arrayfood['refrigerator']='Refrigerator'%>
	<%arrayfood['teacoffeemachine']='Tea Coffee Machine'%>
	<%arrayfood['coffeemachine']='Coffee Machine'%>
	<%arrayfood['highchair']='High chair'%>

	<%arraydisability={}%>

	<%arraydisability['groundfloor']='Ground Floor'%>
	<%arraydisability['wheelchair']='Wheel Chair'%>
	<%arraydisability['elevator']='Elevator'%>
	<%arraydisability['staircaseonly']='Staircase only'%>
	<%arraydisability['grabrailstoilet']='Grab Rails Toilet'%>

	<%arrayentertainment={}%>

	<%arrayentertainment['babysafetyglasses']='Baby Safety Glasses'%>
	<%arrayentertainment['boardgamespuzzles']='Board Games Puzzles'%>
	<%arrayentertainment['books']='Books'%>
	<%arrayentertainment['safetysockets']='Safety sockets'%>


	<%arraybasicchecked=[]%>
	<%arraybasicunchecked=[]%>

	<%arraymediachecked=[]%>
	<%arraymediaunchecked=[]%>

	<%arrayfoodchecked=[]%>
	<%arrayfoodunchecked=[]%>

	<%arraydisabilitychecked=[]%>
	<%arraydisabilityunchecked=[]%>

	<%arrayentertainmentchecked=[]%>
	<%arrayentertainmentunchecked=[]%>

	<%array = current_user.hotel.basic.keys%>
	<%array.each do |item|%>
		<%if current_user.hotel.basic[item]=='1'%>
			<% arraybasicchecked.push(item) %>
		<%else%>
			<% arraybasicunchecked.push(item) %>	
		<%end %>
	<%end%>	

	<%arraybasicchecked=arraybasicchecked.sort%>	
	<%arraybasicunchecked=arraybasicunchecked.sort%>

	<%array = current_user.hotel.media.keys%>
	<%array.each do |item|%>
		<%if current_user.hotel.media[item]=='1'%>
			<% arraymediachecked.push(item) %>
		<%else%>
			<% arraymediaunchecked.push(item) %>	
		<%end %>
	<%end%>	

	<%arraymediachecked=arraymediachecked.sort%>
	<%arraymediaunchecked=arraymediaunchecked.sort%>

	<%array = current_user.hotel.food.keys%>
	<%array.each do |item|%>
		<%if current_user.hotel.food[item]=='1'%>
			<% arrayfoodchecked.push(item) %>
		<%else%>
			<% arrayfoodunchecked.push(item) %>	
		<%end %>
	<%end%>	

	<%arrayfoodchecked=arrayfoodchecked.sort%>	
	<%arrayfoodunchecked=arrayfoodunchecked.sort%>

	<%array = current_user.hotel.disability.keys%>
	<%array.each do |item|%>
		<%if current_user.hotel.disability[item]=='1'%>
			<% arraydisabilitychecked.push(item) %>
		<%else%>
			<% arraydisabilityunchecked.push(item) %>	
		<%end %>
	<%end%>	

	<%arraydisabilitychecked=arraydisabilitychecked.sort%>	
	<%arraydisabilityunchecked=arraydisabilityunchecked.sort%>

	<%array = current_user.hotel.entertainment.keys%>
	<%array.each do |item|%>
		<%if current_user.hotel.entertainment[item]=='1'%>
			<% arrayentertainmentchecked.push(item) %>
		<%else%>
			<% arrayentertainmentunchecked.push(item) %>	
		<%end %>
	<%end%>	

	<%arrayentertainmentchecked=arrayentertainmentchecked.sort%>	
	<%arrayentertainmentunchecked=arrayentertainmentunchecked.sort%>

	<div class="col-sm-offset-2"><h2>Amenties</h2></div>
	<div class="row">
	<div class="col-sm-10 col-sm-offset-1">
		<div class="btn btn-default btn-block AccordianBtn" id="BasicAmenitiesBtn" >
			<span class="pull-left" style="font-size:17px">Basic</span><span class="pull-right RotatePlusB" id="PlusSignA">+</span>
		</div>
		<div class="col-sm-12" id="BasicAmenties" style="border: solid 1px #ccc">
			<div class="row">
				<div class="col-sm-12">
				<div class="row">
					<%arraybasicchecked.each do |item|%>
						<div class="AccordianOption col-sm-3" style="padding-top: 8px">
							<label class="control-label col-lg-10 col-md-10 col-sm-10 col-xs-10"><%= arraybasic[item]%></label>
							<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
							<input type="checkbox" checked="true" disabled="true">
							</div>
						</div>
					<%end%>
				</div>
			</div>

			<div class="col-sm-12">
				<div class="row">
					<%arraybasicunchecked.each do |item|%>
					<div class="AccordianOption col-sm-3" style="padding-top: 8px">
						<label class="control-label col-lg-10 col-md-10 col-sm-10 col-xs-10"><%=arraybasic[item]%></label>
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"">			
						<input type="checkbox" disabled="true">
						</div>
					</div>
				<%end%>
				</div>
			</div>
			</div>
		</div>
	</div>


	<div class="col-sm-10 col-sm-offset-1">
		<div class="btn btn-default btn-block AccordianBtn" id="MediaAmenitiesBtn" >
			<span class="pull-left" style="font-size:17px">Media</span><span class="pull-right RotatePlusB" id="PlusSignB">+</span>
		</div>
		<div id="MediaAmenties">
			<div class="col-sm-12">
				<div class="row">
					<%arraymediachecked.each do |item|%>
						<div class="AccordianOption col-sm-3">
							<label class="control-label col-lg-10 col-md-10 col-sm-10 col-xs-10"><%= arraymedia[item]%></label>
							<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
							<input type="checkbox" checked="true" disabled="true">
							</div>
						</div>
					<%end%>
				</div>
			</div>

			<div class="col-sm-12">
				<div class="row">
					<%arraymediaunchecked.each do |item|%>
					<div class="AccordianOption col-sm-3">
						<label class="control-label col-lg-10 col-md-10 col-sm-10 col-xs-10"><%=arraymedia[item]%></label>
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"">			<input type="checkbox" disabled="true">
						</div>
					</div>
				<%end%>
				</div>
			</div>
		</div>
	</div>

	<div class="col-sm-10 col-sm-offset-1">
		<div class="btn btn-default btn-block AccordianBtn" id="FoodAmenitiesBtn" >
			<span class="pull-left" style="font-size:17px">Food</span><span class="pull-right RotatePlusB" id="PlusSignC">+</span>
		</div>
		<div id="FoodAmenties">
			<div class="col-sm-12">
				<div class="row">
					<%arrayfoodchecked.each do |item|%>
						<div class="AccordianOption col-sm-3">
							<label class="control-label col-lg-10 col-md-10 col-sm-10 col-xs-10"><%= arrayfood[item]%></label>
							<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
							<input type="checkbox" checked="true" disabled="true">
							</div>
						</div>
					<%end%>
				</div>
			</div>

			<div class="col-sm-12">
				<div class="row">
					<%arrayfoodunchecked.each do |item|%>
					<div class="AccordianOption col-sm-3" >
						<label class="control-label col-lg-10 col-md-10 col-sm-10 col-xs-10"><%=arrayfood[item]%></label>
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"">			<input type="checkbox" disabled="true">
						</div>
					</div>
				<%end%>
				</div>
			</div>
		</div>
	</div>

	<div class="col-sm-10 col-sm-offset-1">
		<div class="btn btn-default btn-block AccordianBtn" id="DisabilityAmentiesBtn" >
			<span class="pull-left" style="font-size:17px">Disability</span><span class="pull-right RotatePlusB" id="PlusSignD">+</span>
		</div>
		<div id="DisabilityAmenties">
			<div class="col-sm-12">
				<div class="row">
					<%arraydisabilitychecked.each do |item|%>
						<div class="AccordianOption col-sm-3">
							<label class="control-label col-lg-10 col-md-10 col-sm-10 col-xs-10"><%= arraydisability[item]%></label>
							<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
							<input type="checkbox" checked="true" disabled="true">
							</div>
						</div>
					<%end%>
				</div>
			</div>

			<div class="col-sm-12">
				<div class="row">
					<%arraydisabilityunchecked.each do |item|%>
					<div class="AccordianOption col-sm-3" >
						<label class="control-label col-lg-10 col-md-10 col-sm-10 col-xs-10"><%=arraydisability[item]%></label>
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"">			<input type="checkbox" disabled="true">
						</div>
					</div>
				<%end%>
				</div>
			</div>
		</div>
	</div>

	<div class="col-sm-10 col-sm-offset-1">
		<div class="btn btn-default btn-block AccordianBtn" id="EntertainmentAmentiesBtn" >
			<span class="pull-left" style="font-size:17px">Entertainment</span><span class="pull-right RotatePlusB" id="PlusSignE">+</span>
		</div>
		<div id="EntertainmentAmenties">
			<div class="col-sm-12">
				<div class="row">
					<%arrayentertainmentchecked.each do |item|%>
						<div class="AccordianOption col-sm-3">
							<label class="control-label col-lg-10 col-md-10 col-sm-10 col-xs-10"><%= arrayentertainment[item]%></label>
							<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
							<input type="checkbox" checked="true" disabled="true">
							</div>
						</div>
					<%end%>
				</div>
			</div>

			<div class="col-sm-12">
				<div class="row">
					<%arrayentertainmentunchecked.each do |item|%>
					<div class="AccordianOption col-sm-3" >
						<label class="control-label col-lg-10 col-md-10 col-sm-10 col-xs-10"><%=arrayentertainment[item]%></label>
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"">			<input type="checkbox" disabled="true">
						</div>
					</div>
				<%end%>
				</div>
			</div>
		</div>
	</div>
	</div>
	<div>
		<h2 class="col-sm-offset-2">Description</h2 >
		<div class="col-sm-offset-1 row" style="padding-left: 25px;">
			<textarea class="form-group col-xs-12 col-sm-12" rows="4"disabled="true" style="max-width: 930px;"><%= @hotel.description %></textarea>
		</div>
	</div>

	<div class="row">
		<h2 class="col-sm-offset-2">Policies</h2 >
	<div class="col-sm-offset-1" style="padding-left: 25px;">
	<textarea class="form-group col-xs-12 col-sm-12" rows="6"disabled="true" style="max-width: 930px;"><%= @hotel.policies %></textarea>
	</div>
	</div>
	<div class="row">
		<div class="col-sm-offset-2">
			<h2>Images</h2>
		</div>
		<div class="col-sm-10 col-sm-offset-1">
			<%current_user.hotel.images.each do |hs|%>
				<%=image_tag(hs.url, height: '100', width: '100')%>
			<%end%>
		</div>
	</div>
			

	
<%else%>
	Congratulations!! your have moved one step towards completion<br>
	kindly fill  <%=link_to "Room Types",new_roomtype_path(id: current_user.hotel.id),method: :get%>
<%end%>
</div>
<%end%>
<style>
	@media only screen and (min-width:786px){
		.PosChkInOut {
			position: absolute;
			right:14px;
		}
	}

	.AccordianBtn{
		height:50px;
		border-radius: 0px;
		background-color: #eee;
		border:solid 1px #ccc;
		padding-top: 10px;
		margin-bottom: -1px;
	}
	.AccordianBtn:hover{
		background-color: #ccc;
	}.AccordianOption:hover{
		background-color: #eee;
	}
	.AccordianOption{
		background-color:white;
		height:45px;
		margin: 0px;
		border: solid 1px #ccc;
		
	}
	.RotatePlusA{
		transform: rotate(45deg) scale(2);
		transition-duration: 0.2s;
	}
	.RotatePlusB{
		transform: scale(2);
		transition-duration: 0.2s;
	}

</style>
<script type="text/javascript">
	$(document).ready(function(){
  $('#BasicAmenties').slideUp(1);
  $('#MediaAmenties').slideUp(1);
  $('#FoodAmenties').slideUp(1);
  $('#DisabilityAmenties').slideUp(1);
  $('#EntertainmentAmenties').slideUp(1);

  var basicamenities=1;
  var mediaamenities=1;
  var foodamenities=1;
  var disabilityamenities=1;
  var entertainmentamenities=1;

  function basicAmenities(){
    if(basicamenities==1)
    {
      $('#BasicAmenties').slideDown(250);
      $('#PlusSignA').removeClass('RotatePlusB');
      $('#PlusSignA').addClass('RotatePlusA');
    }
    else
    {
      $('#BasicAmenties').slideUp(250);
      $('#PlusSignA').removeClass('RotatePlusA');
      $('#PlusSignA').addClass('RotatePlusB');
    }
    basicamenities=(basicamenities)*(-1);
  }

  function MediaAmenities(){
    if(mediaamenities==1)
    {
      $('#MediaAmenties').slideDown(250);
      $('#PlusSignB').removeClass('RotatePlusB');
      $('#PlusSignB').addClass('RotatePlusA');
    }
    else
    {
      $('#MediaAmenties').slideUp(250);
      $('#PlusSignB').removeClass('RotatePlusA');
      $('#PlusSignB').addClass('RotatePlusB');
    }
    mediaamenities=(mediaamenities)*(-1);
  }

  function FoodAmenities(){
    if(foodamenities==1)
    {
      $('#FoodAmenties').slideDown(250);
      $('#PlusSignC').removeClass('RotatePlusB');
      $('#PlusSignC').addClass('RotatePlusA');
    }
    else
    {
      $('#FoodAmenties').slideUp(250);
      $('#PlusSignC').removeClass('RotatePlusA');
      $('#PlusSignC').addClass('RotatePlusB');
    }
    foodamenities=(foodamenities)*(-1);
  }

  function DisabilityAmenities(){
    if(disabilityamenities==1)
    {
      $('#DisabilityAmenties').slideDown(250);
      $('#PlusSignD').removeClass('RotatePlusB');
      $('#PlusSignD').addClass('RotatePlusA');
    }
    else
    {
      $('#DisabilityAmenties').slideUp(250);
      $('#PlusSignD').removeClass('RotatePlusA');
      $('#PlusSignD').addClass('RotatePlusB');
    }
    disabilityamenities=(disabilityamenities)*(-1);
  }

  function EntertainmentAmenities(){
    if(entertainmentamenities==1)
    {
      $('#EntertainmentAmenties').slideDown(250);
      $('#PlusSignE').removeClass('RotatePlusB');
      $('#PlusSignE').addClass('RotatePlusA');
    }
    else
    {
      $('#EntertainmentAmenties').slideUp(250);
      $('#PlusSignE').removeClass('RotatePlusA');
      $('#PlusSignE').addClass('RotatePlusB');
    }
    entertainmentamenities=(entertainmentamenities)*(-1);
  }
  $('#BasicAmenitiesBtn').click(function(){
    
    mediaamenities=-1;
    foodamenities=-1;
    disabilityamenities=-1;
    entertainmentamenities=-1;

    basicAmenities();
    MediaAmenities();
    FoodAmenities();
    DisabilityAmenities();
    EntertainmentAmenities();
  });

  $('#MediaAmenitiesBtn').click(function(){

    basicamenities=-1;
    foodamenities=-1;
    disabilityamenities=-1;
    entertainmentamenities=-1;

    basicAmenities();
    MediaAmenities();
    FoodAmenities();
    DisabilityAmenities();
    EntertainmentAmenities();
  });

  $('#FoodAmenitiesBtn').click(function(){

    basicamenities=-1;
    mediaamenities=-1;
    disabilityamenities=-1;
    entertainmentamenities=-1;

    basicAmenities();
    MediaAmenities();
    FoodAmenities();
    DisabilityAmenities();
    EntertainmentAmenities();
  });

  $('#DisabilityAmentiesBtn').click(function(){

    basicamenities=-1;
    mediaamenities=-1;
    foodamenities=-1;
    entertainmentamenities=-1;

    basicAmenities();
    MediaAmenities();
    FoodAmenities();
    DisabilityAmenities();
    EntertainmentAmenities();
  });


  $('#EntertainmentAmentiesBtn').click(function(){

    basicamenities=-1;
    mediaamenities=-1;
    foodamenities=-1;
    disabilityamenities=-1;

    basicAmenities();
    MediaAmenities();
    FoodAmenities();
    DisabilityAmenities();
    EntertainmentAmenities();
  });
});
</script>






