<%room = Roomtype.find_by_id(params[:id])%>

<%arraybasic={}%>

  <%arraybasic['clothesracks']='Clothes Racks'%>
  <%arraybasic['dryingracking']='Drying Racking'%>
  <%arraybasic['foldupbed']='Fold-up Bed'%>
  <%arraybasic['sofabed']='Sofa Bed'%>
  <%arraybasic['wardrobe']='Wardrobe'%>
  <%arraybasic['carpeted']='Carpeted'%>
  <%arraybasic['walkingcloset']='Walking Closet'%>
  <%arraybasic['extralongbeds']='Extra Long Beds'%>
  <%arraybasic['fireplace']='Fireplace'%>
  <%arraybasic['heater']='Heater'%>
  <%arraybasic['interconnectingrooms']='Inter Connecting Rooms'%>
  <%arraybasic['iron']='Iron'%>
  <%arraybasic['desk']='Desk'%>
  <%arraybasic['wifi']='WiFi'%>
  <%arraybasic['smoking']='Smoking'%>
  <%arraybasic['tv']='TV'%>

  <%arrayrestroom={}%>

  <%arrayrestroom['bathroom']='bathroom'%>
  <%arrayrestroom['toiletpaper']='toiletpaper'%>
  <%arrayrestroom['bathtub']='bathtub'%>
  <%arrayrestroom['shower']='shower'%>
  <%arrayrestroom['bathrobe']='bathrobe'%>
  <%arrayrestroom['freetoiletries']='Free Toiletries'%>
  <%arrayrestroom['hairdryer']='Hair Dryer'%>
  <%arrayrestroom['spatub']='Spa Tub'%>
  <%arrayrestroom['sharedbathroom']='Shared Bathroom'%>
  <%arrayrestroom['slippers']='Slippers'%>
  <%arrayrestroom['toilets']='Toilets'%>
  <%arrayrestroom['geyser']='Geyser'%>
  
  <%arrayservices={}%>

  <%arrayservices['executiveloungeaccess']='Executive Lounge Access'%>
  <%arrayservices['alarmclock']='Alarm Clock'%>
  <%arrayservices['wakeupservice']='Wake-up Service'%>
  <%arrayservices['linens']='Linens'%>
  <%arrayservices['sheets']='Sheets'%>
  <%arrayservices['ac']='AC'%>
  <%arrayservices['cooler']='Cooler'%>
  <%arrayservices['fan']='Fan'%>
  <%arrayservices['kettle']='Kettle'%>
  <%arrayservices['laundry']='Laundry'%>

  <%arrayview={}%>

  <%arrayview['balcony']='Balcony'%>
  <%arrayview['terrace']='Terrace'%>
  <%arrayview['cityview']='City View'%>
  <%arrayview['lakeview']='Lake View'%>
  <%arrayview['landmarkview']='Landmark View'%>
  <%arrayview['poolview']='Pool View'%>
  <%arrayview['riverviewriverview']='River View'%>
  <%arrayview['oceanview']='Ocean View'%>




<%if room%>

	<h1><%=room.typename.downcase.capitalize%></h1>
	<%hotel = Hotel.find_by_id(room.hotel_id)%>

	<h3><%=hotel.hotelname.downcase.titleize%></h3>

	(<%=hotel.buildingname.downcase.capitalize%> <%=hotel.streetname.downcase.capitalize%>	,<%=hotel.city.downcase.capitalize%> , <%=hotel.state.downcase.capitalize%> - <%=hotel.zipcode%>)<br>
	

	<br><b>Number of rooms : </b><%=room.rooms%>
	<br><b>Number of adults (base) : </b><%=room.baseadults%>
	<br><b>Number of children (base) : </b><%=room.basechildren%>

	<br> <h3>Facilites : </h3>

	<%string = ''%>
	<%roombasic = []%>
	<%roombasic=room.basic.keys%>
	<b>Basic Facilities : </b>

	<%for x in 0...roombasic.length%>


		<%if room.basic[roombasic[x]] == "1" %> 
			<%string = string + ' ' + arraybasic[roombasic[x]] + ','%>
		<%end%>

	<%end%>
	
	<%string=string[0..string.length-2]%>
	<%=string%>
	<br>

	<%string = ''%>
	<%roomrestroom = []%>
	<%roomrestroom=room.restroom.keys%>
	<b>Restroom Facilities : </b>

	<%for x in 0...roomrestroom.length%>


		<%if room.restroom[roomrestroom[x]] == "1" %> 
			<%string = string + ' ' + arrayrestroom[roomrestroom[x]] + ','%>
		<%end%>

	<%end%>
	
	<%string=string[0..string.length-2]%>
	<%=string%>
	<br>


	<%string = ''%>
	<%roomservices = []%>
	<%roomservices=room.services.keys%>
	<b>Services Facilities : </b>

	<%for x in 0...roomservices.length%>


		<%if room.services[roomservices[x]] == "1" %> 
			<%string = string + ' ' + arrayservices[roomservices[x]] + ','%>
		<%end%>

	<%end%>
	
	<%string=string[0..string.length-2]%>
	<%=string%>
	<br>

	<%string = ''%>
	<%roomview = []%>
	<%roomview=room.view.keys%>
	<b>View Facilities : </b>


	<%for x in 0...roomview.length%>


		<%if room.view[roomview[x]] == "1" %> 
			<%string = string + ' ' + arrayview[roomview[x]] + ','%>
		<%end%>

	<%end%>
	
	<%string=string[0..string.length-2]%>
	<%=string%>
	<br>

	
<%else%>
	NO ROOM FOUND
<%end%>