<p id="notice"><%= notice %></p>

<p>
  <strong>Hotelname:</strong>
  <%= @hotel.hotelname %>
</p>

<p>
  <strong>Hoteltype:</strong>
  <%= @hotel.hoteltype %>
</p>

<p>
  <strong>Chainname:</strong>
  <%= @hotel.chainname %>
</p>

<p>
  <strong>Floor:</strong>
  <%= @hotel.floor %>
</p>

<p>
  <strong>Currency:</strong>
  <%= @hotel.currency %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @hotel.rating %>
</p>

<p>
  <strong>Year:</strong>
  <%= @hotel.year %>
</p>

<p>
  <strong>Checkinhrsfrom:</strong>
  <%= @hotel.checkinhrsfrom %>
</p>

<p>
  <strong>Checkinminfrom:</strong>
  <%= @hotel.checkinminfrom %>
</p>

<p>
  <strong>Checkinampmfrom:</strong>
  <%= @hotel.checkinampmfrom %>
</p>

<p>
  <strong>Checkinhrsto:</strong>
  <%= @hotel.checkinhrsto %>
</p>

<p>
  <strong>Checkinminto:</strong>
  <%= @hotel.checkinminto %>
</p>

<p>
  <strong>Checkinampmto:</strong>
  <%= @hotel.checkinampmto %>
</p>

<p>
  <strong>Checkouthrsfrom:</strong>
  <%= @hotel.checkouthrsfrom %>
</p>

<p>
  <strong>Checkoutminfrom:</strong>
  <%= @hotel.checkoutminfrom %>
</p>

<p>
  <strong>Checkoutampmfrom:</strong>
  <%= @hotel.checkoutampmfrom %>
</p>

<p>
  <strong>Checkouthrsto:</strong>
  <%= @hotel.checkouthrsto %>
</p>

<p>
  <strong>Checkoutminto:</strong>
  <%= @hotel.checkoutminto %>
</p>

<p>
  <strong>Checkoutampmto:</strong>
  <%= @hotel.checkoutampmto %>
</p>

<p>
  <strong>Streetname:</strong>
  <%= @hotel.streetname %>
</p>

<p>
  <strong>Buildingname:</strong>
  <%= @hotel.buildingname %>
</p>

<p>
  <strong>Parking:</strong>
  <%= @hotel.parking %>
</p>

<p>
  <strong>Gym:</strong>
  <%= @hotel.gym %>
</p>

<p>
  <strong>Spa:</strong>
  <%= @hotel.spa %>
</p>

<p>
  <strong>Pool:</strong>
  <%= @hotel.pool %>
</p>

<p>
  <strong>Bar:</strong>
  <%= @hotel.bar %>
</p>

<p>
  <strong>Restaurant:</strong>
  <%= @hotel.restaurant %>
</p>

<p>
  <strong>Lift:</strong>
  <%= @hotel.lift %>
</p>

<p>
  <strong>User:</strong>
  <%= @hotel.user %>
</p>

<%= link_to 'Back', hotels_path %>
